body {
    background-color: black;
    text-align: center;
}

div {
    background-color: rgb(58, 57, 57);
    margin: auto;
    padding: 35px;
    width: 500px;
    border-radius: 30px;
    color: white;
    padding-bottom: 55px;
}

a {
    color: white;
    padding: 5px;
}

button {
    width: 70px;
    height: 35px;
    margin-right: 10px;
    border: none;
}

button#start {
    background-color: rgb(32, 117, 32);
    color: rgb(255, 255, 255);
}

button#pause {
    background-color: rgb(121, 119, 119);
    color: white;
}

button#stop {
    background-color: rgb(255, 29, 29);
    color: rgb(255, 255, 255);
}

button:hover {
    cursor: pointer;
}